.gradle/*
.idea/*
build/*
classes/*
eclipse/*
gradle/*
CREDITS-fml.txt
forge-1.7.10-10.13.4.1448-1.7.10-changelog.txt
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
PowerConverter.iml
PowerConverter.ipr
PowerConverter.iws
README.txt
*.psd
*.tmp